* {
	font-size: 20px;
}



.grid-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.grid-header {
	padding: 20px;
	background: lightblue;
	flex-basis: 50px;
}

.grid-section {
	padding: 20px;
	background-color: slateblue;
	flex-basis: 600px;
	flex-grow: 2;
	flex-shrink: 0;
}

.grid-aside {
	padding: 20px;
	background-color: darkslateblue;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 0;
	
}

.grid-footer {
	padding: 20px;
	background-color: violet;
	flex-grow: 1;
}




@media screen and (min-width: 700px) {
	.grid-container {
		display: grid;
		grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
		grid-template-columns: 1fr 1fr 300px;
	}

	.grid-header {
		grid-column: 1 / span 3;
	}

	.grid-section {
		grid-row: 2 / 6;
		grid-column: 1 / span 2;	
	}

	.grid-aside {
		grid-row: 2 / span 4;
		grid-column: 3;

	}

	.grid-footer {
		grid-row:  6;	
		grid-column: 1 / span 3;
	}
}

.logo-img {
	text-align: left;
}

.contacto {
	text-align: right;
}

/* Responsive con FLEX*/

/*
@media screen and (min-width: 700px) {
	.flex-responsive {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.header {
		flex-basis: 100%;
		max-height: 60px;  
	}

	.section, .aside {
		height: 85%;
	}


	.section {
		flex-grow: 4;
	}

	.aside {
		flex-grow: 1;
	}

	.footer {
		flex-basis: 100%

	}
}

*/	
/*Background*/

/*
.container {
	height: 400px;
	width: 460px;
	margin: 40px;
	background: #86f;
	padding: 30px 5px;
	background-image: url(https://cdn-cf-east.streamable.com/image/7x7jnl.jpg?Expires=1639432260&Signature=ZVpfXUO98IBK85dBGlnE~vhm17MbFUpYWsAMlgfq-qcQxg6MOOU~bCNywe5-iw2kiBmmBou6V7HI9gyvEL6Yi2RG3mlFzbVy~cRVM7rrvis-GYGoXbA~2TvORQJHIfMUbI~acERDhyakYXm7w1syiYKYDy8RgQFwZ2JArjK8ZhBG-5DMjII3e0ilvzqadjSDiaS7iIWp4AgA7j9MwhhQ3XuxwVSgH~FJ9LNe7etGX8p9DQh7kNZkKRx1vc467oBMCf9zOpFML1iDGqyeDQZhgFQh3VEoR8CoQGluokCX7SKvDbVLTlPIbmXizzFhzxksCRozhEqTD0PPMqHjhmSk9g__&Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ);
	background-size: cover;  
	background-position: center;
}
*/

/*	Transisiones de varias cajas moviendose
.caja {
	background: #025;
	height: 100px;
	width: 100px;
	transition-property: left;
	transition-duration:  1s;
	margin: 30px;
	position: relative;
	left: 0;
}

.container:hover > .caja {
	left: 80%;
}

.caja:fisrt-child {
	transition-timing-function: linear;
}

.caja:nth-child(2) {
	transition-timing-function: ease;
}

.caja:nth-child(3) {
	transition-timing-function: ease-in;
}

.caja:nth-child(4) {
	transition-timing-function: ease-out;
}

.caja:nth-child(5) {
	transition-timing-function: ease-in-out;
}

*/

/*Transisiones de animaciones
.caja1 {
	background: #025;
	height: 100px;
	width: 100px;
	margin: 30px;
	position: relative;  
	animation-name: desplazarse; 
	animation-duration: 3s;
	animation-iteration-count: 3;
}

@keyframes desplazarse {
	0% {
		left: 0;
		background-color: blue;
	}

	50% {
		background-color: red;
	}

	100% {
		left: 80%;
		background-color: green;
	}
}
*/


/*Transformaciones 
.caja1 {
	background-color: #025;
	height: 80px;
	width: 80px;
	margin: 20px;
	display: flex;
	color: #fff;
	transition: transform 1s;

}

.caja1:hover {
	La funcion translate ahorra recursos
	transform: translate(80px);
}
*/