.calculadora {
    width: 250px;
    height: 370px;
    background-color: black;
    margin: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

input {
    width: 60px;
    height: 60px;
    font-size: 20px;
    
}

.disp {
    width: 100%;
    background-color: black;
    color:rgb(243, 237, 237);
    text-align: right;
    outline: none;
    font-size: 40px;
    border: none;
    
}

input[value="="] {
    width: 120px;
}