* {
	font-size: 20px;
	font-family: 'Robotoj', sans-serif;
	/*Tipo de letra Roboto editada para verlo despues*/
}

a {
	text-decoration: none;
	color: #4D4B4B;
}

h1 {
	text-align: left;
	margin: 50px;
	font-size: 2em;
	text-shadow: 2px 2px 1px white;
}

.logo-img {
	margin: 5px;
	float: left;
	width: 100px;
}

.contacto {
	padding: 20px;
	float: right;
}

.parrafo-descripcion {
	width: 300px;
	margin: 100px 50px;
	font-size: 25px;
	text-shadow: 1px 1px 1px white;
}

.subtitulos-aside {
	padding-top: 15px;
	padding-bottom: 15px;
	color: black;
	font-size: 24px;
}

.instagram {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
}

.facebook {
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 5px;
}

.grid-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.grid-header {
	background: #B0AFB3;
	flex-basis: 50px;
}

.grid-section {
	padding: 20px;
	background-color: #6A668E;
	flex-basis: 600px;
	flex-grow: 2;
	flex-shrink: 0;
	background-image: url(imagenes/fondo-responsive.jpg);
	background-size: cover;
	background-position: center;

}

.grid-aside {
	padding: 20px;
	background-color: #D6D4DD;
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 0;
	overflow: auto;
	color: #545151;
}

.grid-footer {
	padding: 20px;
	background-color: #888DA5;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}


@media screen and (min-width: 800px) {
	.grid-container {
		display: grid;
		grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
		grid-template-columns: 1fr 1fr 320px;
	}

	.grid-header {
		grid-column: 1 / span 3;
	}

	.grid-section {
		grid-row: 2 / 6;
		grid-column: 1 / span 2;	
}

	.grid-aside {
		grid-row: 2 / span 4;
		grid-column: 3;

	}

	.grid-footer {
		grid-row:  6;	
		grid-column: 1 / span 3;
	}
}

